
{% extends "layout.jinja2" %}

{% block content %}
 <form id="new-form">
    <label>
      <input type="text" id="article-title" placeholder="Article title" required/>
    </label>
    <label><textarea id="article-body" rows="8" cols="40" placeholder="Type your article here!!!" required></textarea>
    </label><br />
    <label><input type="text" id="article-author" placeholder="Author Name" required />
    </label><br />
    <label><input type="text" id="article-category" placeholder="Category" required />
    </label><br />

  </form>
{% endblock %}

