<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Create a new journal!</title>
      <nav>
    <ul>
      <li>
        <a href = "/">Home </a>
      </li>
      <li>
        <a href = "/journal/1/edit-entry">Edit</a>
      </li>
      <li>
        <a href= "/journal/new-entry"> New Entry </a>
      </li>
    </ul>
  </nav>
</head>

<body>
  <section id="write">
    <h1>Create New Article</h1>
    <form id="new-form">
      <label>
        <input type="text" id="article-title" placeholder="Article title" required/>
      </label>
      <label><textarea id="article-body" rows="8" cols="40" placeholder="Type your article here!!!" required></textarea>
      </label><br />
      <label><input type="text" id="article-author" placeholder="Author Name" required />
      </label><br />
      <label><input type="text" id="article-category" placeholder="Category" required />
      </label><br />

    </form>
  </section>
</body>


<footer>
    </footer>