{% extends "layout.jinja2" %}

{% block content %}
<form method="POST">
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" /></td>
        </tr>
        <tr>
            <td><label for="body">Body</label></td>
            <td><input type="text" name="body"/></td>
        </tr>
        <tr>
            <td><label for="creation_date">Journal Date</label></td>
            <td><input type="date" name="creation_date" Journal Datemm/dd/yyyy" /></td>
        </tr>
        <tr><td></td><td><input type="submit" value="Submit New Journal"></td></tr>
    </table>
</form>
{% endblock %}