<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit an entry</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal/1/edit-entry">Edit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal/new-entry">New Entry</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<body>
  <section id="write">
    <h1>Edit journal</h1>
    <form id="edit-form">
      <label>
        <input type="text" id="edit-title" placeholder="edit title to be edit" required/>
      </label>
      <label><textarea id="edit-body" rows="8" cols="40" placeholder="Type your body here!!!" required></textarea>
      </label><br />
      <label><input type="text" id="edit-author" placeholder="Author Name" required />
      </label>
    </form>
  </section>

<section id="preDisplay">
  <h1>Journal 1</h1>
  <ul class = "articles">
    <li><h2> Title: Journal 1</h2></li>
    <li><h3> Create Date: Today </h3></li>
    <li><p> Pre-display of the contents of the journal being edit </p></li>
  </ul>
</section>
</body>


<footer>
    </footer>