{% extends "layout.jinja2" %}

{% block content %}
<form method="POST">
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" value="{{ journal.title }}" /></td>
        </tr>
        <tr>
            <td><label for="body">Amount</label></td>
            <td><input type="text" name="body" value="{{ journal.body }}"/></td>
        </tr>
        <tr>
            <td><label for="creation_date">Written Date</label></td>
            <td><input type="date" name="creation_date" format="mm/dd/yyyy" /></td>
        </tr>
        <tr><td></td><td><input type="submit" value="Edit Journal"></td></tr>
    </table>
</form>
{% endblock %}