<!DOCTYPE html>
<html lang="en">
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal/1/edit-entry">Edit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal/new-entry">New Entry</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<body>
  <section id="write">
    <h1>Edit journal</h1>
    <form id="edit-form">
      <label>
        <input type="text" id="edit-title" placeholder="edit title to be edit" required/>
      </label>
      <label><textarea id="edit-body" rows="8" cols="40" placeholder="Type your body here!!!" required></textarea>
      </label><br />
      <label><input type="text" id="edit-author" placeholder="Author Name" required />
      </label>
    </form>
  </section>

<section id="preDisplay">
  <h1>Journal 1</h1>
  <ul class = "articles">
    <li><h2> Title: Journal 1</h2></li>
    <li><h3> Create Date: Today </h3></li>
    <li><p> Pre-display of the contents of the journal being edit </p></li>
  </ul>
</section>
</body>


<footer>
    </footer>