
{% extends "layout.jinja2" %}

{% block content %}
<table>
    <tr>
        <th>Journal ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Body</th>
    </tr>
    {% for journal in journal %}
    <tr>
        <td>{{ journal.id }}</td>
        <td>{{ journal.title}}</td>
        <td>{{ journal.creation_date}}</td>
        <td>{{ journal.body}}</td>
        <td><a href="{{ request.route_url('detail_view', id=journal.id) }}">See Journal</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

