<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <nav>
        <li><a href="{{ request.route_url('list_view') }}">Home</a></li>
    </nav>
    <h2>{{ title }}</h2>
    {% block content %}{% endblock %}
</body>
</html>